/* CSS declarations go here */
@import 'https://fonts.googleapis.com/css?family=Roboto';
.leaflet-container {
    height: 100vh;
    width: 100%;
}

.eleven.wide.column.animated.fadeIn{
    position: absolute;
    padding: 0px;

}

.five.wide.column{
  padding:0px !important;
  background-color: #FAFAFA;
  height:100vh;
}


.heads{
    
}

.hidden {
  display:none !important
}

.ui.mini.circular.label {
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

@media only screen and (max-width:40em){
	.dialogContent {
		width : 100%;
	} 
}