/* CSS declarations go here */
@import 'https://fonts.googleapis.com/css?family=Roboto';
.map-container {
    height: 100vh;
    width: 100%;
    z-index:1;
    position:absolute;    
    top:0;
    left:0;
    top:0;
    bottom:0;
}


.eleven.wide.column.animated.fadeIn{
    position: absolute;
    padding: 0px;

}

.five.wide.column{
  padding:0px !important;
  background-color: #FAFAFA;
  height:100vh;
}


.heads{
    
}

.hidden {
  display:none !important
}

.ui.mini.circular.label {
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

@media only screen and (max-width:40em){
  .justclass{
    padding-top: 0px !important;
  }
	.dialogContent {
		width : 100% !important;
    transform : inherit !important;
    margin : 0px 0px 0px 0px !important;
	} 

  .dialogBody{
    max-height: 90vh !important;
    padding:0px 0px 0px 0px !important;
  }

  .actionsContainer {
    max-height: 11vh !important;
  }

  .suggestInput {
    font-size: 14px !important;
    width: 100% !important;

  }

  .hiddenOnMobile {
    display:none !important
  }

  .comments {
    height:84vh !important
  }



}

.suggestInput {
    width: 100% !important;
  }

.ntf{
  font-size: 13px !important;
}